rules_version = "2";
service cloud_firestore {
  match /databases/ai-studio-6492ca18-e4d0-4701-9caa-e44afedac685/documents {
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
